body {
    font-family: "Merriweather", sans-serif;
    color: rgb(37, 37, 37);
    background-color: #e6cecb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-size: xx-large;
}

/*span {
    color: white;
    background-color: rgb(80, 79, 79);
    box-shadow: 0 0 0 15px rgb(80, 79, 79);
    border-radius: 1px;
}
*/
